@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #8c8c8c;
  --very-dark-gray: #696969;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Resets */

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  height: 650px;
  position: relative;
}

.background-blur {
  width: 100%;
  height: 100%;
  background: url(./images/desktop/image-hero.jpg) no-repeat center/cover;
  position: absolute;
  z-index: -1;
}

.background-blur::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-list-item {
  color: var(--white);
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.nav-list-item a {
  padding: 0.57rem;
  display: block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.nav-list-item a:hover {
  border-bottom: 2px solid var(--white);
}

.header-content {
  max-width: 1440px;
  margin: 5rem auto;
}

.header-content-text {
  max-width: 650px;
  border: 1px solid var(--white);
  padding: 1rem 2rem;
}

.header-content-title {
  color: var(--white);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 300;
}

#btn-mobile {
  display: none;
}

@media (max-width: 760px) {
  .nav-list {
    display: none;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: var(--black);
    padding: 2rem;
    z-index: 1;
    text-transform: uppercase;
    padding: 15rem 2rem;
    gap: 1rem;
    font-size: 2rem;
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 0.5s forwards;
  }

  #hamburger .active {
    border-top-color: transparent;
  }

  #hamburger.active::before {
    transform: rotate(135deg);
  }

  #hamburger.active::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #hamburger.active {
    border-top-color: transparent;
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .nav {
    padding: 4rem 2rem 0rem 2rem;
  }

  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    border-top: 2px solid var(--white);
    width: 30px;
    z-index: 3;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: var(--white);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  .nav-logo {
    z-index: 3;
  }

  .header-content {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }

  .header-content-text {
    max-width: 90%;
    padding: 1rem;
    border: 2px solid var(--white);
    display: flex;
    flex-wrap: wrap;
  }

  .header-content-title {
    font-size: 3rem;
  }
} /* Header */

/* Intro section */
.intro-content {
  max-width: 1440px;
  margin: 10rem auto;
}

.intro-content-text {
  display: flex;
  position: relative;
}

.intro-text {
  padding: 2rem 4rem;
  padding-bottom: 0;
  max-width: 650px;
  position: absolute;
  background-color: var(--white);
  bottom: 4px;
  right: 200px;
}

.intro-text-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  padding: 2rem;
  text-transform: uppercase;
}

.intro-text-paragraph {
  padding-left: 2rem;
  color: var(--dark-gray);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

@media (max-width: 760px) {
  .intro-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-text {
    right: 0;
    bottom: 0;
    position: initial;
    padding: 0;
  }

  .intro-text-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .intro-text-paragraph {
    padding: 0 2rem;
    text-align: center;
  }

  .intro-content-img {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
} /* Intro section */

/* Creations */
.creations {
  max-width: 1440px;
  margin: 10rem auto;
}

.creations-top {
  display: flex;
  justify-content: space-between;
}

.creations-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.btn-see {
  font-family: "Alata", sans-serif;
  background-color: transparent;
  width: 210px;
  height: 50px;
  border: 2px solid var(--black);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-see-mobile {
  font-family: "Alata", sans-serif;
  background-color: transparent;
  width: 210px;
  height: 50px;
  border: 2px solid var(--black);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  display: none;
}

.btn-see:hover {
  background-color: var(--black);
  color: var(--white);
}

.creations-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.creations-content-item {
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
}

.creations-content-title {
  position: absolute;
  bottom: 20px;
  left: 10px;
  padding: 1rem 2rem;
  text-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  max-width: 250px;
  text-transform: uppercase;
  color: var(--white);
  z-index: 2;
  transition: 0.2s ease;
}

.creations-content-item img {
  width: 100%;
  object-fit: cover;
}

.creations-content-item::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: -4px;
  transition: 0.3s ease;
  z-index: 1;
}

.creations-content-item:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: -4px;
  z-index: 1;
}

.creations-content-item:hover {
  cursor: pointer;
  scale: 1.1;
  .creations-content-title {
    color: var(--black);
  }
}

.img-mobile {
  display: none;
}

@media (max-width: 760px) {
  .creations {
    margin-top: -5em;
  }

  .creations-content {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  .creations-content-item {
    position: relative;
  }

  .creations-content-title {
    position: absolute;
    bottom: 10px;
    left: -20px;
    padding: 1rem 2rem;
    text-wrap: wrap;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 200px;
    text-transform: uppercase;
    color: var(--white);
    z-index: 2;
    transition: 0.2s ease;
  }

  .creations-content-item img {
    width: 100%;
    object-fit: cover;
  }

  .creations-content-item::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .creations-top {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .creations-title {
    text-align: center;
    font-size: 2.5rem;
  }

  .btn-see {
    display: none;
  }

  .btn-see-mobile {
    display: block;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }
}
/* Creations */
/* Creations */
